<html>
    <head>
        <title>HEART ARREST PREDICTION</title>
        <style>
            body {
              background-image: url('https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg?size=626&ext=jpg');
              background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative
            }
        </style>
    </head>
    <body><center>
        <div><br><br><br><br>
            <br><br><br><br>
            <br><br><br><br>
            <h2 style="color:white;">{{msg}}</h2>
        </div></center>
    </body>
</html>